<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_54c6d117bb904c5a8ecb2213834064f6 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
    <div class="folium-map" id="map_54c6d117bb904c5a8ecb2213834064f6" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_54c6d117bb904c5a8ecb2213834064f6 = L.map(
        'map_54c6d117bb904c5a8ecb2213834064f6', {
        center: [-2.8865262987814635, -23.003434740347387],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_af6d6299ea2e4840aaa476a8b411f343 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null, 
        "detectRetina": false, 
        "maxNativeZoom": 18, 
        "maxZoom": 18, 
        "minZoom": 0, 
        "noWrap": false, 
        "subdomains": "abc"
}).addTo(map_54c6d117bb904c5a8ecb2213834064f6);
    
            var marker_cluster_123060f6732342ca8e08ce76aad987ab = L.markerClusterGroup({});
            map_54c6d117bb904c5a8ecb2213834064f6.addLayer(marker_cluster_123060f6732342ca8e08ce76aad987ab);
            
    
        var marker_8068a2274df94d10bd76337ee97b87c6 = L.marker(
            [-4.064167, -39.9975],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_9edc20b57aa1453db0022f20c8b3c16b = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_da7fa55de5b94f3da07ddd5d46aeb5ff = L.marker(
            [-18.83498, 48.458738],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_715e7b37195243a189c15ca42a3d1943 = L.marker(
            [-3.0, -40.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f51e75f1ed174e0dbee93dffae950b4c = L.marker(
            [-4.072514, -38.722486],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_a9213a8127d64a339b71a6ab68f0d4e8 = L.marker(
            [-2.412944, -44.400472],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ccf5107b9e804d85800b2ff71b5ef1e8 = L.marker(
            [-2.412944, -44.400472],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_96926703c9d64e0ab966e35a7a3ffa4e = L.marker(
            [-2.412944, -44.400472],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_1a433d80e9e441ea8f2e85043118ba5e = L.marker(
            [-5.403611, -40.064722],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f310b825a68749f3939e3fa20f668a77 = L.marker(
            [-3.543611, -39.478056],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_5b3b1958fbbb47108afd7854f1a205e6 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_2d1d4bc27b9d492dbcab9503994da51b = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_79571ad3520644e5b71a221f2f7bf7f4 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_572a9445fa29436e91d938f0f569afc2 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_fbb8a2b94dd34df5a5868d210266ac54 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ce1162e2df8c48abb7d51917e9d9bc2f = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_a375defc5eee42e089e842ff01fc96aa = L.marker(
            [-3.800556, -40.906389],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_783d2762f1b04adeac858d72a3177e4a = L.marker(
            [-4.254444, -38.992083],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_bcd12c1b5523481882ee789552e4ea3b = L.marker(
            [-9.320597, -40.541153],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_14174a6ce4d94bf1b1607d8ac803d90f = L.marker(
            [-9.330797, -40.548733],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_211982a41e464506b910e54c9cca07b3 = L.marker(
            [-4.209472, -38.974361],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f08954d1a7d745ed86d65f04180c92e9 = L.marker(
            [-6.597778, -37.248889],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_2bd721988c284d16adc14161d59b770a = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_a82c64019b044a46b8d04ae7eecf7404 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_b12bf86bdde243ce8d347be54fbee8fe = L.marker(
            [4.88, -52.25],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_3f0f870931734596ad0cd814199a0fad = L.marker(
            [-4.206028, -38.971167],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_c2ebcd3f47184ebe9cf47ce505fad266 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_0cf5f6c97da54b4fb2a3f24d0c3e8b2b = L.marker(
            [-6.6, -40.116667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ea20bdad12a048a683c87d521b1df202 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_14ed879869fe4b22906fcd50169649d5 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_0dd40a65b9fc405a8d550467d15b1210 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_da02e404df814d9b963f8cb6777c8bb5 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_6cf7e51ccd0841ad984445ee4ed96b34 = L.marker(
            [-3.7, -40.35],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_d2c34251373548b4be51109f7f2f9f61 = L.marker(
            [-3.7, -40.35],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_7e99ab7d2c02424dab676e71d31c78fb = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_7e253d817e434ce8a4da7cc6751fbbb3 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_c832fced911749958875ee77dac56a8e = L.marker(
            [-5.083333, -40.85],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_0ea2c2509a2647ed84a383c92e381398 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_fbbbe6ef09e7474da413007288682567 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_7e4d1940a40c457da0b4998633dd3b5a = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_52263e81609540d496e43b4aa765ef98 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_1b1f131951904df797164af0f48c588d = L.marker(
            [-6.5, -40.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_8f475205891740cc86f15ed894c0f62e = L.marker(
            [-5.166667, -37.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_88797f2f9a32467ea3e81aa9c2e5926d = L.marker(
            [-5.219444, -37.787917],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_67b062b93e8e4b2d89e08052a7f02534 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_e0ccc5aa59ed401393ee94566b3e8954 = L.marker(
            [-6.616667, -40.166667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_306e27e107d9470eb22d470ce9ba1cb3 = L.marker(
            [-6.62, -40.17],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_31f713161523432fa60311424505f1f2 = L.marker(
            [-6.616667, -40.166667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ca5ea2babc9842d5b9d97803b2af1da0 = L.marker(
            [-5.183333, -37.816667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_2828ff4039344aeaa7a8083bc306fc8d = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_70cc42da79944ffc916af357c5335b45 = L.marker(
            [-5.0, -30.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_74f785478c6546ea8c053d16ef58b765 = L.marker(
            [-5.183333, -37.816667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_e9e8815bdd444953a049b6575efe9841 = L.marker(
            [-5.18, -37.82],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_5ebdf661547c44dcb9cb2c571d9a85ff = L.marker(
            [-8.47414982778, -35.7279758896],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_cb50197ab898412c81fef1916add72ff = L.marker(
            [-8.47414982778, -35.7279758896],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_7692e63f48bb4e1097b291f35b036f5f = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_8cd02fedd2984dcebf97353309d786e5 = L.marker(
            [-8.494444, -35.695833],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_1bcfeef7b75d42099ed184c05d90316f = L.marker(
            [-8.31, -36.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_db10ff28079a45c9a53433af0ac3f361 = L.marker(
            [-8.2, -35.816667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ec714150b94a4fbfaad2a95756fb8028 = L.marker(
            [-8.31, -36.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_099625f1c63c4cd5a9f6794cc7ba3c9f = L.marker(
            [-8.31, -36.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_5466ff4903ac48518d311678421b4815 = L.marker(
            [-8.31, -36.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_fb11da3eabfe4f618dbf5f3c2eb9e3f3 = L.marker(
            [-8.31, -36.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_61bf06fc4ecb45e3b2c2ba6670139fd9 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_9bc8bfec2c37499fabc3bad67960fc59 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_cfb2bbbda0854d04ad440979d5a14396 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_79a4133d97ac4100aa81674a692e6c25 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_cc78e1c813e44a4eaa95f00e4a052139 = L.marker(
            [-5.1, -80.01667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f7baa084a4f447acbc8304e37761c96a = L.marker(
            [-5.0, -80.06667],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_6e72a1baa0f54cf2ad5085d5fc16b790 = L.marker(
            [5.28, -52.58],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f4533cb9b1184830bda6d530ae3056c3 = L.marker(
            [5.28, -52.58],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_c5e27b86480d482d95018b9ffff86f8a = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_388c5642c33a49bfb5ba112e5c3e2a25 = L.marker(
            [5.28, -52.58],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_83f02ba2b1514bf9917e106f834b8c17 = L.marker(
            [5.28, -52.58],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_d90dac6faba04f5ca20fdc6f6813ccfd = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_5a9dbfef68654a719c7d8e6571eac968 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_a9c9ce2ce57241b1a82181aa2ae6b118 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_15e3fd7938164a53872de1561b00ca56 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_6434c06cf6fe4230bac7e1a5e370fa05 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_4ec52fe90e264266ac778fad7479965b = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_f2a2ea3556ff43d8b26c32d4293a50a0 = L.marker(
            [3.6, -51.32],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_bbf28b698e9c4ec19c58bbde09bcb308 = L.marker(
            [3.6, -51.32],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_96b66fb0611d48448862612e695453c0 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ddbc327ed696401db96e12475115b6eb = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_69af7cc55f204db0843368bcfc6ee9e8 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_acaf201a684b4177b77cb591bdda7499 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_082d54a9044a4d5f8d772df42dca0874 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_bf33a57d29ae4d1aa8b7d4efc607269c = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_553db152d2144288ad9aeedf97ead2e9 = L.marker(
            [-11.184422625, -40.5180837748],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_5dac1614b62448508509444d716a62b5 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_b79ebc5b85bd42e9bfd2d4ae9482f7b2 = L.marker(
            [0.0, 0.0],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_faa5b1f12c2f4bcab774d2092026de65 = L.marker(
            [-10.77306, -53.08972],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_010eb62de016449abefa39a1e337faa9 = L.marker(
            [-10.8339, -52.8731],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_6aa09140ed84414b831656948b1e4bec = L.marker(
            [4.79194, -58.97472],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_a55c64d09c0f46d5b21a1cbc147a5c25 = L.marker(
            [-19.37333, 46.70611],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_ea288eb1cbf2474baac66f57baa14aad = L.marker(
            [3.78889, -52.63889],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_d0f9dcac276e4767a0ccbe661dcf5a2a = L.marker(
            [-10.77306, -53.08972],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
    
        var marker_2186bfb44c3e4324921ad63b20cdb68d = L.marker(
            [-12.18306, -41.99722],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(marker_cluster_123060f6732342ca8e08ce76aad987ab);
        
</script>