<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>AAAA</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Projeto Macrófitas</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="{{url_for('index_blueprint.index')}}">Início</a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="{{url_for('index_dataBlueprint.index')}}">Tabelas</a>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="{{url_for('busca')}}">Busca</a>
			</li>
			</li>
			<li class="nav-item active">
			  <a class="nav-link" href="{{url_for('importar')}}">Inserir Dados</a>
			</li>

		  </ul>
		</div>
	  </nav>

	{% block body %}{% endblock %}
</body>
</html>