{% extends 'layout.html' %}

{% block body %}

<style>
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-align: center;
}
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-align: center;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
 /* position: absolute; */
 /* right: 396px; /* relative */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-6">
            <h1>Resultados da Busca </h1>
        </div>

        <div class="col-md-6">
            <a href="{{url_for('mapa', planta=plant_searched)}}">
                <button class="button" name="export_btn">Exportar dados para visualização »</button>
            </a>
        </div>

    </div>
        <h2 class="text-muted">{{plant_searched}}</h2>
    <div class="row" style="padding-top: 50px">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Status Flora do Brasil</th>
                        <th scope="col">Nome Flora do Brasil</th>
                        <th scope="col">Status PlantList</th>
                        <th scope="col">Nome PlantList</th>
                        <th scope="col">Comparação</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        {% for plant in dataComparation %}

                        <td>{{plant}}</td>

                        {%endfor%}
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- Tabela 2 -->

    <div class="row" style="padding-top:50px;">
        <div class="col-md-12">
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Sinônimos Encontrados</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for sinonimo in sinonimos %}
                            <tr>
                                <td>{{sinonimo}}</td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Forma de Vida</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for entry in formaVida %}
                                    <tr>
                                        <td>{{entry}}</td>
                                    </tr>
                                    {%endfor%}

                                </tbody>
                            </table>

                </div>

                <div class="col-md-4">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Substrato</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for entry in substrato %}
                                    <tr>
                                        <td>{{entry}}</td>
                                    </tr>
                                    {%endfor%}

                                </tbody>
                            </table>
                </div>

                <div class="col-md-4">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Origem</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>{{origem}}</td>
                                    </tr>

                                </tbody>
                            </table>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Endemismo</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>{{endemismo}}</td>
                                    </tr>

                                </tbody>
                            </table>

                </div>

                <div class="col-md-6">
                        <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Distribuição</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for entry in distribuicao %}
                                    <tr>
                                        <td>{{entry}}</td>
                                    </tr>
                                    {%endfor%}

                                </tbody>
                            </table>

                </div>
            </div>

    </div>

    </div>

    <!-- Tabela 3 -->

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-12">
            <div class="row">
            </div>
            <div class="row">
                    <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Cidade</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">País</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for plant in dataLocation %}
                                <tr>
                                    <td>{{plant[0]}}</td>
                                    <td>{{plant[1]}}</td>
                                    <td>{{plant[2]}}</td>
                                    <td>{{plant[3]}}</td>
                                    <td>{{plant[4]}}</td>
                                    <td>{{plant[5]}}</td>
                                </tr>
                                {%endfor%}

            </div>
        </div>
    </div>

</div>
{% endblock %}
