{% extends 'layout.html' %}

{% block body %}

<div class="container" style="padding-top: 50px;">


        <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome Aceito</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Estado</th>
                    <th scope="col">País</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                  </tr>
                </thead>
                <tbody>

                    {% for plant in data %}
                    <tr>
                        <td>{{plant[0]}}</td>
                        <td>{{plant[1]}}</td>
                        <td>{{plant[2]}}</td>
                        <td>{{plant[3]}}</td>
                        <td>{{plant[4]}}</td>
                        <td>{{plant[5]}}</td>

                    </tr>
                    {%endfor%}

                </tbody>
              </table>

</div>

{% endblock %}
